@import "header.css";
@import "mainBody.css";
@import "main.css";

body {
    background-color: #d0e4fe;
}

/*To hide the arrow in the input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
